<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <link rel="stylesheet" type="text/css" href="{% static 'css/f3.css'%}">
    <title>chattrapati stadium</title>
  </head>
  <body>
    <div id="back">
      <a href="/stadiumapp/home">Back</a>
    </div>
<div id="centre">
  <h3>for any query call custumer care</h3>
  <h2>Contact no.-+919161390758 , </h2>
  <h2>Gmail id - ashwani786dubey@gmail.com </h2>
</div>


  </body>
</html>
