<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>chattrapati stadium</title>
    <meta name="viewport" content="width=device-width , initial-scale=1 ">
    <link rel="stylesheet" type="text/css" href="{% static 'css/f2.css'%}">


  </head>
  <body class=" wrapper " >

    <h1 class="text-center text-success text-capitalize  lead">WELCOME TO CHHATRAPATI STADIUM</h1>
    <div class="A">
      <h1>  <a class="btn btn-default"  href="/stadiumapp/book">NEW BOOKOING</a></h1>
      </div>
<div class="A">

<h1>  <a  class="btn btn-default"  href="/stadiumapp/admin.html">ADMIN</a></h1>
</div>


  <div class="A">
  <h1>  <a class="btn btn-default" href="/stadiumapp/help">HELP</a></h1>
</div>


  </body>
</html>
